h1{ color: darkred; text-align: center;}
h1 img{ width: 50px; }
body{ font-size: 14px;}
ul.nav-pills li { cursor:pointer;}
footer{ font-size:0.8em; text-align: center; padding:50px;}
footer p{ margin:0;}