<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://aloinargixao.com/static/css/web/style.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body ng-app="emaitzak">

<h1><img src="http://aloinargixao.com/static/img/eskudo_aloina.png"> Ranking Aloña Mendi</h1>


    <div class="container" ng-controller="MainCtrl">
      <div class="row aukeraketa">
        <div class="col-md-3 col-md-offset-3">
          <select class="form-control">
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>
        <div class="col-md-3">
          <select class="form-control" ng-options="froga as froga.prueba for froga in ranking_masculino" ng-model="froga" ng-change="aukeratuFroga()"></select>
        </div>
      </div>

      <div class="row">
        <table class="table">
          <tr>
            <th></th>
            <th>Atleta</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Fecha</th>
            <th>Lugar</th>
          </tr>
        
          <tr ng-repeat="emaitza in emaitzak.resultados">
            <td>{{$index+1}}</td>
            <td>{{emaitza.atleta}}</td>
            <td>{{emaitza.marca}}</td>
            <td>{{emaitza.categoria}}</td>
            <td>{{emaitza.fecha}}</td>
            <td>{{emaitza.lugar}}</td>
          </tr>
        </table>
      </div>

      <footer>
        <p><b>Aloña Mendi Atletismoa</b></p>
        <a href="http://aloinargixao.com">aloinargixao.com</a>
      </footer>

    </div>


    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
