<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://aloinargixao.com/static/css/web/style.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="http:aloinargixao.com/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http:aloinargixao.com/static/img/favicon.ico" type="image/x-icon">

    <meta property="og:title" content="Ranking resultados Aloña Mendi Atletismo"/>
    <meta property="og:url" content="http://ranking.aloinargixao.com"/>
    <meta property="og:description" content="Registro de las mejores marcas de la sección de atletismo del Aloña Mendi" />
  </head>
  <body ng-app="emaitzak">

<h1><img src="http://aloinargixao.com/static/img/eskudo_aloina.png"> Ranking Aloña Mendi</h1>


    <div class="container" ng-controller="MainCtrl">
      <div class="row aukeraketa">
        <div class="col-md-3 col-md-offset-3">
          <select class="form-control" ng-model="genero" ng-change="generoChange()">
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>
        <div class="col-md-3">
          <select class="form-control" ng-disabled="!genero_selected" ng-options="froga as froga.prueba for froga in ranking" ng-model="froga" ng-change="aukeratuFroga()"></select>
        </div>
      </div>

      <div class="row">
        <table class="table">
          <tr>
            <th></th>
            <th>Atleta</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Fecha</th>
            <th>Lugar</th>
          </tr>
        
          <tr ng-repeat="emaitza in emaitzak.resultados">
            <td>{{$index+1}}</td>
            <td>{{emaitza.atleta}}</td>
            <td>{{emaitza.marca}}</td>
            <td>{{emaitza.categoria}}</td>
            <td>{{emaitza.fecha}}</td>
            <td>{{emaitza.lugar}}</td>
          </tr>
        </table>
      </div>

      <footer>
        <p><b>Aloña Mendi Atletismoa</b></p>
        <a href="http://aloinargixao.com">aloinargixao.com</a>
      </footer>

    </div>


    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55679849-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
